<h1>request page</h1>

<h2>In construction</h2>

<div class = 'request-page'>
    <img src = '{{pet.petPictureUrl}}' class = 'pet-request-img'>
    <div class = "request-text">
        <h1>{{ request.name }}</h1>
        <div class = 'petcontainer'>
            <p>{{pet.name}}</p>
            <p>{{pet.description}}</p>
        </div>
        <div class = 'request-descriptiondiv'>
            <h2>Description</h2>
            <p>{{ Request.description }}</p>
        </div>
    </div>

<div class="apply">
    <a href="/home">APPLY</a>
</div>


