<div class = 'testdiv'>
<div class = 'request-page'>
<div class ='request'>
    <div class = "request-text">
        <h1>Request Title: {{request.requestTitle}}</h1> 
        <p>Request Description: {{request.requestDesc}}</p>
        <p>Request Date: {{request.requestDate}}</p>
        <img src = '{{pet.petPictureUrl}}' class = 'pet-request-img'>
            <h1>Pet Name: {{pet.name}}</h1>
            <p>Pet Description: {{pet.description}}</p>
            <div class="apply">
                <a href="/home">APPLY</a>
            </div>
    </div>
</div>
</div>
<script src="./javascript/js.js"></script>
<!--<script>document.body.classList.remove('homepage')</script>-->