        <div class="test">
        <div style="background:no-repeat url({{this.pet.petPictureUrl}})" class="request-itself">
        </div>
            <a href="/request-page"> 
                <div class="request-info">  
                    <h2 class = 'pet-name'> {{this.pet.name}} </h2>
                    <p>{{this.pet.age}}</p>
                    <h2>{{this.requestTitle}}</h2>
                    <h3>From {{this.requesterName}}</h3>
                </div>
            </a>
        </div>
