 <div class="request-test">
    <div class="row-request">
        <div class="request-content">
            <div class="request-itself">
                <img id="pet-image" src="{{this.image_url}}" alt=""/>
            </div>

                <div class="request-info">  
                    <h1> {{this.pet.name}} </h1>
                    <p> {{this.pet.age}} </p>
                    <h3>{{this.requestTitle}}</h3>
                </div>
        </div>
        <div class="request-content">
            <div class="request-itself">
                <img id="pet-image" src="{{this.image_url}}" alt=""/>
            </div>

            <div class="request-info">  
                <h1> {{this.pet.name}} </h1>
                <p> {{this.pet.age}} </p>
                <h3>{{this.requestTitle}}</h3>
            </div>
        </div>
     </div>
</div>