        <div class="test">
        <div style="background:no-repeat url({{this.pet.petPictureUrl}}); background-size: cover; background-position: center;" class="request-itself">
        </div>
            <a href="/request-page?id={{this._id}}"> 
                <div class="request-info">  
                    <h2 class = 'pet-name'> {{this.pet.name}} </h2>
                    <div class="requester-info">
                        <h3>From</h3>
                        <h2 style="color: rgb(116,139,210);">{{this.requesterName}}</h2>
                        <div class="petType">
                        <h3>Pet Type: </h3><h2 style="color: #FF8B8B;">{{this.pet.petType}}</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
